@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none;
}

input:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

input:checked + .label {
  border: 1px solid black;
  background-color: #f4f0f0;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* animation */
.slide-top {
  -webkit-animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* map */

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-control-attribution {
  display: none;
}

/* searchbar */

@keyframes myAnimation {
  0% {
    transform-origin: 50% 50%;
    transform: scale(0.5) translateX(-95%);
    top: 0;
    left: 50%;
  }
  100% {
    transform-origin: 50% 50%;
    transform: scale(1) translateX(-50%);
    top: 54px;
    left: 50%;
  }
}

.searchbar {
  animation: myAnimation 0.3s ease-in-out;
  /* You can customize the duration and easing function as needed */
}

.active-btn {
  border: 1px solid black;
  background-color: #f4f0f0;
}
